

<div class="col-lg-4 col-md-6 card-group mb-4">
    <div class="shadow-sm  card">
        <a href="{{ post.url | relative_url}}">
            <img class="card-img-top" src="{{ post.imageurl | relative_url }}" alt="Card image cap">
        </a>
      <div class="card-body">
        <h5 class="card-title">
            <a href="{{ post.url | relative_url}}">{{post.itemtitle }}</a>
        </h5>
        <p class="card-text">{{ post.shortdesc | strip_html | truncatewords:30 }}</p>
        <!-- <button class="btn btn-default btn-rounded btn-md">Read more</button> -->
        <a href="https://google.com" class="btn btn-primary btn-rounded btn-sm">Read more</a>
      </div>
    </div>
</div>


