
/* Set black background color, white text and some padding */
footer {
    background-color:#25274D;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 70px;
  }
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    border-radius: 5px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
.navbar-brand{
  font-size: xx-large;
  padding-left: 70px;
  color: white;
}
.navbar {
  margin-bottom: 0;
  border-radius: 1px;
  background-color: #25274D;
  padding-top: 20px;
}
.navigation_bar{
  float: right;
  padding-right: 10%;
}

.navigation_bar li
{
  padding-right: 20;
  font-size:x-large;
}

/* .title_panel{
  position: relative;
  margin: auto;
}
.panel
{
  margin: 0;
  background-color: black;
  color: white;
  position: absolute;
  top: -40px;
  width: 50%;
} */
.space{
  word-spacing: 40px;
}

.panel_title{
  position: relative;
  /* width: 100px;
  height: 100px; */
  
}
.panel_style{
  /* background-color: #155b7d; */
  background-color: #25274D;
  position: absolute;
  top: -40px;
  left: 33%;
  width:33%;
  border-radius: 10px;
}
.panel_style h1{
  color:white
}
/* .content{
  text-align: center;
  background-color: lightgray;
  
} */
.container{
  max-width: 75%;
}
#context{
  /* text-align: center; */
  padding-top:50px;
  padding-bottom: 20px;
  
}
.context_area{
  background-color: #dbddfa;
  border-radius: 5px;
}
.video_content{
  width: 700px;
  height: 500px;
  display: block;
  margin: auto;
}
.container h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50;
}

.container p{
  font-style: italic;
  font-size: 20;
}