.context_area{
  background-color: #ececfc;
  border-radius: 5px;
  padding-bottom: 20px;
}

// font size can be romved
.container h2{
  padding-top:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.container p{
  font-size: larger;
}

.container .main-page-p{
  text-align: justify;
}

.embed-responsive-item{
  border-radius: 5px; 
 }
